<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Відгуки</title>
</head>
<body>

<div class="header">
    <div><strong>AnimeTracker</strong></div>

    <div class="nav">
        <a href="/">Home</a>
        <a href="/titles">Titles</a>
        <a href="/categories">Categories</a>
        <a href="/search">Search</a>
    </div>
</div>

<h1>Відгуки для: <span th:text="${title.title}"></span></h1>

<a href="/titles">Назад до колекції</a>
<a th:href="@{/titles/{id}/reviews/new(id=${title.id})}">Додати відгук</a>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Текст</th>
        <th>Оцінка</th>
        <th>Дата створення</th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="review : ${reviews}">
        <td th:text="${review.id}"></td>
        <td th:text="${review.reviewText}"></td>
        <td th:text="${review.score}"></td>
        <td th:text="${review.createdAt}"></td>
        <td>
            <form th:action="@{/titles/{titleId}/reviews/{reviewId}/delete(titleId=${title.id},reviewId=${review.id})}"
                  method="post"
                  style="display:inline;">
                <button type="submit">Видалити</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>